# General configuration options

# Copyright (c) 2014-2015 Wind River Systems, Inc.
# SPDX-License-Identifier: Apache-2.0

mainmenu "Zephyr Kernel Configuration + Umdom"

#comment "Umdom Zephyr modules config"
menu "Umdom Zephyr: modules"
source "${ZEPHYR_UMDOM}/Kconfig"
endmenu

menu "Umdom project: modules"
orsource "modules/Kconfig.*"
endmenu

comment "Zephyr Kernel Configuration"
source "$(ZEPHYR_BASE)/Kconfig.zephyr"
